import("rJava")
importFrom("RCurl","curlPerform", "basicTextGatherer")
export(
 getSystemCode,
 getOrganismCode,
 getBridgeNames,
 getDatabase,
 getMatchingSources,
 getFullName,
 getDataSource,
 registerDataSource,
 loadDatabase,
 map,
 fullNameExists,
 systemCoudeExists
)

