import("rJava")
importFrom("curl","curl")
importFrom("utils", "download.file")
export(
 getSystemCode,
 getOrganismCode,
 getBridgeNames,
 getDatabase,
 getMatchingSources,
 getFullName,
 getDataSource,
 getAttributes,
 registerDataSource,
 loadDatabase,
 getProperties,
 map,
 maps,
 fullNameExists,
 systemCodeExists
)

